
:root {
    --prim :#ffab91
}

.fab {
    margin: 8px;
    background-color: white;
    color: black;
}
.card{
    background-color:#1e1e1e;
    margin:10%;
    margin-top:50%;
}

.inputLabelRoot{
    color:rgba(255,255,255,0.80) !important;
}

.inputLabelRoot:focus{
    color:rgba(0,0,0,0) !important;
}
    

.inputRoot {
    color: rgba(255,255,255,0.67);
}

textarea:focus,input:focus{
    color:rgba(255,255,255,0.80)
}
textarea:not(:focus),input:not(:focus){
    color:rgba(255,255,255,0.80)
}
.inputInput {
    transition: max-width 0.3s ease-in-out;
    max-width: 140px;
    width:auto;
    padding: 8px 8px 8px 32px;
    text-align: center;
    color:rgba(255,255,255,0.67)
}
.inputInput:focus{
    max-width:220px;
    color: rgba(255,255,255,0.67);
}
.search {
    position: relative;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: 8px;
    width: auto;
}

.search:hover {
    background-color: rgba(255,255,255,0.25)
}




.searchIcon {
    width: 56px;
    height: 100%;
    position: absolute;
    margin-right: 8px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
